{% extends "base.html" %}
{% block head %}
    <title>Home - TenshiBot</title>
{% endblock %}
{% block body %}
    <h1>TenshiBot</h1>
    <div style="font-size: 20px; padding: 0 20em;">
        <div style="display: inline-grid;">
            <ul>
                <li><a href="https://meta.wikimedia.org/wiki/User:TenshiBot">meta User page</a></li>
                <li><a href="https://meta.wikimedia.org/wiki/Special:GlobalContributions/TenshiBot">GlobalContributions</a></li>
                <li><a href="https://en.wikipedia.org/wiki/User:TenshiBot">en.wp User page</a></li>
            </ul>
        </div>
        <div style="display: inline-grid;">
            <ul>
                <li><a href="https://meta.wikimedia.org/wiki/Special:CentralAuth/TenshiBot">CentralAuth</a></li>
                <li><a href="https://github.com/TenshiSWR/TenshiBot">GitHub</a></li>
                <li><a href="https://k8s-status.toolforge.org/namespaces/tool-tenshihinanawi-bot/">k8s-status</a></li>
            </ul>
        </div>
        <div style="display: inline-grid;">
            <ul>
                <li><a href="/tasks">Tasks</a></li>
            </ul>
        </div>
    </div>
{% endblock %}